<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="greet" method="post">
        {%for message in get_flashed_messages()%}
            <p>{{message}}</p>
        {%endfor%}
        <input type="text" name="name_input" placeholder="Name"><br>
        <input type="text" name="age_input" placeholder="Age"><br>
        <input type="submit" value="GREET" id="greet">
    </form>
</body>
</html>